/*Total style*/
.main {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.main-definitions{
    overflow-y: scroll;
    min-height: 400px;
    max-height: 650px;
}
.main-definitions::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(68, 68, 68);
}
.main-definitions::-webkit-scrollbar-thumb{
    background-color: rgb(0, 19, 71);
    border-radius: 50px;
}
@media screen and (min-width: 900px) {
    .main-definitions{
        min-height: 610px;
    }
}
/*definitions style*/
.definitions {
  margin-top: 20px;
  border-bottom: 1px solid #525252;
}
.definition {
  padding-bottom: 5px;
}
.definition p,
.example p, .synonyms-word p {
  background-color: rgba(20, 20, 20, 0.829);
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  margin-right: 5px;
  display: inline-block;
}
.definition p:hover,
.example p:hover, .synonyms-word p:hover {
  background-color: rgba(26, 26, 26, 0.829);
}
.synonyms-word span {
  background-color: rgba(32, 32, 32, 0.829);
  padding: 10px 20px;
  border-radius: 10px;
  margin: 5px 0 10px 10px;
  display: inline-block;
  cursor: pointer;
}
.synonyms-word span:hover {
  background-color: rgba(54, 54, 54, 0.829);
}